<div class="row job-form-wrapper">
  <div class="col-sm-1">
    <a (click)="addJob()">
      <img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/add-128.png"
           alt="Job add icon, has to be replaced in the future">
    </a>
  </div>
  <div class="col-sm-11">
    <div class="form-group">
      <input type="text" class="form-control" id="text" name="text"
        [(ngModel)]="job.text" placeholder="Text" required>
    </div>
    <div class="form-group">
      <textarea rows="3" class="form-control" id="description" name="description"
        [(ngModel)]="job.description" placeholder="Description" required></textarea>
    </div>
  </div>
</div>
