<div class="row job-form-wrapper">
  <div class="col-sm-1">
    <img [src]="getIcon()">
  </div>
  <div class="col-sm-11">
    <div class="form-group">
      <input type="text" class="form-control" id="text" name="text"
        [(ngModel)]="job.text" placeholder="Text" required>
    </div>
    <div class="form-group">
      <textarea rows="3" class="form-control" id="description" name="description"
        [(ngModel)]="job.description" placeholder="Description" required></textarea>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-1 col-sm-offset-9">
    <button *ngIf="!newJob" (click)="cancel()"
            type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
      Cancel
    </button>
    <button *ngIf="newJob" (click)="reset()"
            type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
      Reset
    </button>
  </div>
  <div class="col-sm-1">
    <button type="button" class="btn btn-success" (click)="save()">
      <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
      Save
    </button>
  </div>
</div>
